<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/MercadoLiebre/public/css/styles.css">
  <title>Formulario Registro</title>
</head>
<body class="fullscreen">
  <header>
    <div class="top-header">
        <div class="logo"> 
            <img src="/MercadoLiebre/public/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="register.html">Creá tu cuenta</a></li>
            <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>
  <section class="form-register">
    <div class="form" action="#" method="GET"></div>
  <div class="form">
    <h4>Login</h4>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre de usuario o E-mail">
    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
    <input class="botons" type="submit" value="Ingresar">
  </div>
  </section>
</body>
</html>